<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-body" onscroll="javascript:document.getElementById('navigation').style.boxShadow = document.body.getBoundingClientRect().top < 0 ? '0px 0px 10px #aaa' : ''; return false;">
        {% include header.html %}
          <div class="owell owell-vbottom" style="padding: 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img style="width: 100%; max-width: 1008px" src="/public/images/banner.jpg">
                    </div>
                </div>
            </div>
          </div>
          <div id="coherence" class="anchor"></div>
          <div class="owell owell-vcenter owell-blue">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <h2 class="text-center">Coherence<span class="hidden-xs"> is a powerful force...</span></h2>
                      </div>
                  </div>
                  <div class="row" style="padding: 50px 0">
                      <div class="col-md-6">
                          <h3>in Information Technology</h3>
                          <p class="text-justify">To understand IT is to recognize that it is about man as well as machine.</p>
                          <p class="text-justify">Success is very much about the feeling your technology brings to your users - and to achieve success it is imperative that you gain a deep knowledge about your users.</p>
                          <p class="text-justify">Only when you truly know your users can you design a piece of technology that will extend their capabilities and solve a problem for them.</p>
                          <p class="text-justify">Coherence is a sticky feature - and it is key to having happy and loyal users.</p>
                      </div>
                      <div class="col-md-6">
                          <h4 style="padding-top: 18px">in Project Management</h4>
                          <p class="text-justify">When managing a project, you are often juggling schedules, costs, progress, charts and more. These are important tools - but they are also just tools that measure how well you understand and guide the people on your team.</p>
                          <h4>in Organizations</h4>
                          <p class="text-justify">Organizational coherence is a matter of bringing all your teams a sense of being an important part of the mission. As a unified whole, you will be more successful at facing any challenges lying ahead.</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <p class="text-center"><a class="btn btn-lg btn-info" href="mailto:hello@coherify.net?subject=Tell%20me%20more%20about...">Tell me more</a></p>
                      </div>
                  </div>
              </div>
          </div>
          <div id="services" class="anchor"></div>
          <div class="owell owell-vcenter">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <h2 class="text-center" style="padding: 0; margin: 0">Our services</h2>
                          <p class="text-center">We deliver consultancy services that ensure coherent IT solutions by bringing humans into focus.</p>
                      </div>
                  </div>
                  <div class="row" style="padding: 50px 0">
                      <div class="col-md-4">
                          <h3 class="text-center"><i class="fa fa-fw fa-comments"></i> Analysis</h3>
                          <p class="text-justify">There is no substitute for thorough research. This is the all-important foundation on which every project rests.</p>
                          <p class="text-justify">We are experienced observers. We can analyze behavior and uncover the underlying issues that will lead to a better solution.</p>
                      </div>
                      <div class="col-md-4">
                          <h3 class="text-center"><i class="fa fa-fw fa-puzzle-piece"></i> Architecture</h3>
                          <p class="text-justify">Designing a platform and building the right infrastructure is really an exercise in avoiding decisions that will haunt you later on.</p>
                          <p class="text-justify">You want to keep it simple yet flexible enough to handle future challenges. We have the required experience and attention to details.</p>
                      </div>
                      <div class="col-md-4">
                          <h3 class="text-center"><i class="fa fa-fw fa-wrench"></i> Development</h3>
                          <p class="text-justify">Constructing the actual solution usually involves many different kinds of stakeholders and calls for communications skills.</p>
                          <p class="text-justify">We are able to both understand and navigate between different expectations as well as always delivering high-quality solutions.</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <p class="text-center"><a class="btn btn-lg btn-info" href="mailto:hello@coherify.net?subject=Tell%20me%20more%20about...">Tell me more</a></p>
                      </div>
                  </div>
              </div>
          </div>
        <div id="contact" class="anchor"></div>
        {% include footer.html %}
    </body>
</html>
